*{
    margin: 0px;
}

/* Estilização do cabeçalho */
.header{
    grid-area: cabecalho;
    height: 10vh;
    background-color: greenyellow;
}
/* Estilização do Corpo do */
body{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 10vh minmax(70vh, auto) 10vh;
    grid-template-areas:
    "cabecalho cabecalho"
    "div-1 div-1"
    "div-2 div-3"
    "rodape rodape";
    
}
/* Estilização do rodape */
.footer{
    grid-area: rodape;
    height: 10vh;
    background-color: greenyellow;
}

.div-1{
    grid-area: div-1;
    height: 10vh;
    background-color: blueviolet;
}

.div-2{
    grid-area: div-2;
    background-color: blue;
}
.div-3{
    grid-area: div-3;
    background-color: yellow;
}

@media (max-width: 800px){
    body{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 10vh 10vh minmax(40vh, auto) minmax(40vh, auto) 10vh;
        grid-template-areas:
        "cabecalho"
        "div-1"
        "div-2"
        "div-3"
        "rodape";
    }
    .div-1{
        grid-area: div-1;
        background-color: blueviolet;
    }
    
    .div-2{
        grid-area: div-2;
        background-color: blue;
    }
    .div-3{
        grid-area: div-3;
        background-color: yellow;
    }

}